@{
    ViewBag.Title = "Home Page";
}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawDiseaseByAnimalChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        $.ajax({
                    url: '@Url.Action("DrawTestGraph", "Home")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'post',
                   // data: '{animalID: "' + animalId + '" }',
                    success: (function (result) {
                       
                        var rows = [];
                        for (var r in result)
                        {
                            data = result[r];
                            var row = [];
                            row.push(data.Name);
                            row.push(data.Count);
                            rows.push(row);
                        }

                        console.log(rows);
                        
                         //Create the data table.
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Name');
                        data.addColumn('number', 'Count');
                        data.addRows(rows);
                      
                        

                        // Set chart options
                        var options = {
                            'title': 'Animals In Eddie',
                            'width': 400,
                            'height': 300
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                        chart.draw(data, options);
                    }),
                    error: (function (xhr, status) {
                        alert(status);
                    })
                })       
    }

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }


    function drawDiseaseByAnimalChart() {

        $.ajax({
                    url: '@Url.Action("DrawDiseasebyAnimal", "Home")',
                    contentType: 'application/json; charset=utf-8',
                    type: 'post',
                   // data: '{animalID: "' + animalId + '" }',
                    success: (function (result) {
                        console.log(result);
                        var tempArray = [];
                        var labelArray = ["Disease", "Occurences", { role: "style" }];
                        tempArray.push(labelArray);
                        for (var r in result)
                        {
                            var dataRow = [result[r].userCHDisease, result[r].Expr1, getRandomColor()];
                            tempArray.push(dataRow);
                            console.log(result[r].userCHDisease);


                        }

                        var data = google.visualization.arrayToDataTable(tempArray);
                        
                        //Create the data table.
                        var view = new google.visualization.DataView(data);
                        view.setColumns([0, 1,
                            {
                                calc: "stringify",
                                sourceColumn: 1,
                                type: "string",
                                role: "annotation"
                            },
                            2]);
                      
                        

                        // Set chart options
                        var options = {
                            'title': 'Animals In Eddie',
                            'width': 800,
                            'height': 300,
                            'legend': {position:"none"},
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.ColumnChart(document.getElementById('barchart_div'));
                        chart.draw(view, options);
                    }),
                    error: (function (xhr, status) {
                        alert(status);
                    })
                })       
    }


    
</script>


<div class="jumbotron">
    <h1>Diagnostic Data Visualiser</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>


    </div>
    <div class="col-md-4">

    </div>
    <div id="chart_div" class="col-md-4">

    </div>

    <div id="barchart_div" class="col-md-4">

    </div>
</div>