
<div class="jumbotron">
    <h1>D3F Project</h1>
    <h6>....</h6>
</div>

<div>
    <h2> About us </h2>
</div>

<div>
     <input type="button" value="Diagnoser" onclick="location.href='@Url.Action("Index", "Home")'" /> 
     <input type="button" value="Visualiser" onclick="location.href='http://datavisualiser.d3f.world'" /> 
</div>
