
@{
    ViewBag.Title = "About_Us";
}

<div class="jumbotron">
<h1>D3F: Differential Disease Diagnosis Framework</h1>
</div>


<div class="page_content">
    <p>
        The health and welfare of animals is a critical component of sustainable development. 
        In many low resource environments access to information that supports accurate diagnosis and effective treatment is lacking. 
        The D3F project seeks to build platforms to enable this support by tackling questions such as:
    </p>

    <ul>
        <li>Is it possible to build mobile apps that use simple clinical signs to support animal health workers to more accurately diagnose and treat common diseases?</li>
        <li>How can the data collected by such apps be most effectively integrated into the systems that inform animal health policy making at district, country and global levels?</li>
        <li>Can ontology-based approaches assist the process of integrating externally generated data and knowledge into these types of mHealth apps?</li>
    </ul>
    
    <br/>
    
    <div>
        <p>

            You can find more details by clicking the <b>"About Us"</b> button below. <br />
            You can also use the <b>“Diagnose”</b> button to access a Web-based tool that illustrates the basic functionality of a diagnostic app currently undergoing extensive field testing in Ethiopia.<br />
            Finally, the <b>“Visualise”</b> button provides access to a dashboard which gives graphical summaries around case data collected using apps based on the D3F platform.

        </p>
    </div>

</div>

<div>
    <div style="text-align:center">
        <h3 style="color:black">Links</h3>
        <div class="web_app_links">
            <input class="btn btn-info" type="button" value="About Us" onclick="location.href='@Url.Action("AboutUs", "Landing")'" />
            <input class="btn btn-info" type="button" value="Diagnose" onclick="location.href='@Url.Action("Index", "Diagnose")'" />
            <input class="btn btn-info" type="button" value="Visualise" onclick="location.href='http://datavisualiser.d3f.world'" />
        </div>
    </div>
</div>