



<h1>D3F Project Privacy Notice</h1>


<h2>Our contact details</h2>

<h2>What type of information we have</h2>

<h2>How we get the information and why we do we have it</h2>

<h2>What we do with the information</h2>


<h2>How we store your information</h2>

<h2>Your data protection rights</h2>

<h2>How to complain</h2>


