<div id="div_log_case">
    <h2> Log the Case</h2>
    <label> Date Case Occurred  <input type="date" name="datecaseobserved"> </label>
    
    <h3>Location</h3>
    <label>
        Region
        <select>
            <option value="">Region 1 </option>
        </select>
    </label>

    <label> Location <input type="text" name="location"> </label>

    <br />
    <h3>Further Information</h3>
    <label> Comments <input type="text" name="comments" /> </label>

    <br />

    <input type="button" id="button_logcase" class="btn btn-success" /> Submit Case

</div>
