@model List<AnimalDiseaseQueryWebApp.Models.Sign>



<div>

    <div id="select_signs_title">
        <h4> Select Signs </h4>
    </div>
    
    @{int i = 0; }
    @foreach (AnimalDiseaseQueryWebApp.Models.Sign s in Model)
    {
        <div>
            <label> @s.Name </label>
            <label> Present  <input type="radio" class="signs" name="signs[@i]" value="@s.Id+_P" />  <span class="checkmark"></span> </label>
            <label> Not Present  <input type="radio" class="signs" name="signs[@i]" value="@s.Id+_NP" />  <span class="checkmark"></span> </label>
            <label> Not Observed  <input type="radio" class="signs" name="signs[@i]" value="@s.Id+_NO" checked="checked" />  <span class="checkmark"></span> </label>
            <br />
        </div>
        i++;
    }
</div>
