@model AnimalDiseaseQueryWebApp.Models.DiagnoseViewModel

<h3>Diagnose An Animal</h3>
<hr />

@if (Model.animals.Count == 0)
{
    <h4>There are no Animals in the Database</h4>
}
else
{

<select name="">
    @foreach (AnimalDiseaseQueryWebApp.Models.Animal a in Model.animals)
    {
        <option value="@a.Id">@a.Name @a.Sex @a.Age</option>
    }
</select>
}



