@{
    ViewData["Title"] = "Web Diagnostic Tool";
}



<div class="row">

    <div class="col-md-3">
        <h2>Diagnose By Symptoms</h2>

        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "" }))
        {

            <button type="submit"> Go To Diagnosis Page </button>
        }


    </div>
    <div class="col-md-3">
        <h2>Other Queries</h2>

    </div>
    <div class="col-md-3">
        <h2>Edit Database</h2>
        <button type="submit"> Go To Edit DB Page </button>

    </div>
</div>
