@{
    ViewData["Title"] = "Web Diagnostic Tool";
}
<html>
<head>
    
</head>

<body>

    <header>
        <div>
            <h2 class="jumbotron">Welcome To The D3F Web App</h2>
        </div>

    </header>
    
    <div class="page_content">
    
    <div class="row">

        <div class="col-md-3 col-sm-9">
           

        </div>
        <div class="col-md-3 col-sm-7">
           

        </div>
        <div class="col-md-3 col-sm-7">
          
        </div>
    </div>

    <div class="row">

        <div class="col-md-3 col-sm-7">
            @using (Html.BeginForm("Index", "Diagnose", FormMethod.Post, new { @id = "" }))
            {

                <button type="submit"> Go To Diagnosis Page </button>
            }
        </div>
        <div class="col-md-3 col-sm-7">


        </div>
        @*<div class="col-md-3 col-sm-7">
            @using (Html.BeginForm("Index", "EditDB", FormMethod.Post, new { @id = "" }))
            {

                <button type="submit" class="confirmation_button w3-amber w3-panel w3-padding-64"> Go To Edit DB Page </button>
            }
        </div>*@
    </div>

        </div>
</body>
</html>