@model AnimalDiseaseQueryWebApp.Models.EditDBViewModel
<div class="row">

    @using (Html.BeginForm("InsertNewDisease", "EditDB", FormMethod.Post, new { @id = "form_add_animal" }))
    {
        <div class="col-md-2">
            ID
        </div>

        <div class="col-md-2">
            @Html.TextBox("Name")

        </div>

        
       
        <div class="col-md-2">
            <button class="btn-info" type="submit"> Add Disease </button>
        </div>

}

</div>
