
@model AnimalDiseaseQueryWebApp.Models.EditDBViewModel


<div class="row">

    @using (Html.BeginForm("InsertNewAnimal", "EditDB", FormMethod.Post, new { @id = "form_add_animal" }))
    {

        <div class="col-md-2">
            ID
        </div>

        <div class="col-md-2">
            @Html.TextBox("name")
           
            </div>
       

       

        <div class="col-md-2">
            <button class="btn-info" type="submit"> Add Animal </button>
        </div>

    }
</div>
    
