@model AnimalDiseaseQueryWebApp.Models.EditDBViewModel

@{
    ViewBag.Title = "EditDB";

}
<h2>EditDB</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<div class="row">
    <div class="col-md-3">
        <h3> Animals</h3>
        <hr />
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-2">
        ID
    </div>

    <div class="col-md-2">
        Name
    </div>

</div>

<br />
@{
    Html.RenderPartial("_DisplayAnimals");
}



<div class="row">
    <div class="col-md-3">
        <h3> Signs</h3>
        <hr />
    </div>
</div>

@{
    Html.RenderPartial("_InsertNewSign");
}

@{
    Html.RenderPartial("_DisplaySigns");
}



<div class="row">
    <div class="col-md-3">
        <h3> Diseases</h3>
        <hr />

    </div>
</div>
<div class="row">
    <div class="col-md-2">
        ID
    </div>

    <div class="col-md-2">
        Name
    </div>


    <div class="col-md-2">
        Probability
    </div>
</div>

@{
    Html.RenderPartial("_InsertNewDisease");
}
<div class="row">
    <div class="col-md-2">
        ID
    </div>

    <div class="col-md-2">
        Animal
    </div>


    <div class="col-md-2">
        Sign
    </div>


</div>


@{
    Html.RenderPartial("_DisplayDiseases");
}

<br />



<div class="row">
    <div class="col-md-3">
        <h3> Likelihoods</h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        ID
    </div>

    <div class="col-md-2">
        Animal
    </div>

    <div class="col-md-2">
        Sign
    </div>

    <div class="col-md-2">
        Disease
    </div>
</div>



@{
    Html.RenderPartial("_InsertNewLikelihood");
}



@if (Model.likelihoods.Count > 0)
{

    Html.RenderPartial("_DisplayLikelihoods");

}




